*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.dark-mode {
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}
.dark-mode .text a{
    color: white;
}
.dark-mode .main-table tr td{
    color: black;
}
.nav-contaner{
    width: 70%;
    display: flex;
    position: sticky;
    top: 0;
}
.text p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: black;
    text-decoration: none;
}
.text a{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: black;
    text-decoration: none;
}
.text{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: black;
    text-decoration: none;
}


.nav-contaner .nav-bar{
    width: 100%;
    justify-content:space-around;
    display: flex;
    position: sticky;
    top: 0;
    border-radius: 10px;
    backdrop-filter: blur(500px);
    /* background-color: #F5F5F5; */
    padding: 8px;
    margin: 8px;
}

.bill-section{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color:  #F5F5F5;
    padding: 30px 50px;
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main-table tr td{
    padding: 5px 10px;
}
.goto{
    display: flex;
    justify-content: center;
}
.Button-Purchase{
    color: black;
    text-decoration: none;
    background-color: rgb(117, 201, 232);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px black;
}

.Button-Purchase:hover{
    background-color: rgb(4, 73, 98);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.bt{
    text-decoration: none;
    color: rgb(255, 118, 118);
}