<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
    <style>
        .error {
            /* color: red; */
            /* font-weight: bold; */
            color: rgb(250, 50, 50);
            font-size: 13px;
            text-decoration: none;
            margin: 15px 0 10px;
        }
    </style>
</head>
<body>
    {% block content %}
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form action="{{ url_for('logintodatabase') }}">
                    <h1>Create Account</h1>
                    <span>or use your email for registeration</span>
                    {% if error %}
                    <p class="error">{{ error }}</p>
                    {% endif %}
                    <input type="text" name="user_id" placeholder="Enter User Name/ Mobile no" maxlength="10" required>
                    <input type="text" name="user_name" placeholder="Enter Name" required>
                    <input type="tel" name="user_mobl" placeholder="Enter Mobile no" maxlength="10" required>
                    <input type="email" name="user_email" placeholder="Enter Email Id" required>
                    <input type="text" name="user_address" placeholder="Enter Home Address" required> 
                    <input type="text" name="user_password_temp" placeholder="Enter Password" required>
                    <input type="password" name="user_password" placeholder="re-enter Password" required>
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <form action="{{ url_for('signintodatabase') }}" method="post">
                    <h1>Sign In</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your email password</span>
                    {% if error %}
                    <p class="error">{{ error }}</p>
                    {% endif %}
                    <input type="text" name="user_id" placeholder="Enter user Name/ Mobile no " maxlength="10">
                    <input type="password" name="user_password" placeholder="Enter Password">
                    <a href="#">Forget Your Password?</a>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details to use all of site features</p>
                        <button class="hidden" id="login">Sign In</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>Register with your personal details to use all of site features</p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>