<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='payment.css') }}">
</head>
<body>
        {{ error }}
        <form action="/verifyOtp" method="post">
            <label>Enter OTP:</label>
            <input type="text" name="user_otp" required>
            <input type="hidden" name="Amount" value="{{ Amount }}">
            <input type="hidden" name="payment_mode" value="{{ payment_mode }}">
            <input type="hidden" name="otp" value="{{ otp }}">
            <button type="submit">Verify OTP</button>
        </form>
    </div>
</body>
</html>